# First activate the virtual envirioment with:
# .\env\Scripts\activate.ps1

# bottle has a issue with stdout when using pyinstaller --noconsole
bottle
eel
pyinstaller
psutil==5.9.4
jinja2
numpy
playwright
requests
beautifulsoup4
